@charset "ISO-8859-1";
body{
    margin-top: 200px;
    text-align: center;

}
#input{
    width: 150px;
    margin: 30px auto;
}
body ul{
    margin: 0 auto;
    width: 200px;
}
.form-group{
    margin-top: 200px;
}
#flash{
    color: red;
}